*/.vs/
AdventOfCodeCSharp/AdventOfCodeCSharp/obj/
AdventOfCodeCSharp/AdventOfCodeCSharp.Tests/bin/
AdventOfCodeCSharp/AdventOfCodeCSharp/bin/
AdventOfCodeCSharp/AdventOfCodeCSharp.Tests/obj/
AdventOfCodeCSharp/packages/
**/Debug/
*.log
*.lastbuildstate
AdventOfCodeJS/node_modules/
*.class

AdventOfCodeJava/.idea/

### Eclipse ###

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

AdventOfCodeFSharp/packages/
AdventOfCodeFSharp/AdventOfCodeFSharp.Tests/obj/
AdventOfCodeCPlusPlus/Release/
AdventOfCodeCPlusPlus/AdventOfCodeCPlusPlus/Release/
**/__pycache__/**
